/* Reset default margins and set base font */
html, body {
    margin: 0;
    font-family: 'Karla', sans-serif; 
}

/* TYPOGRAPHY STYLES */
h1, h2, h3 {
    text-align: center; /
}

h1, h2 {
    color: #EED6D3; 
    margin: 0; 
}

h1 {
    font-size: 28px; 
}

h2 {
    font-size: 16px; 
}

h3 {
    margin: 25px; 
}

/* HEADER LAYOUT */
header {
    background-color: #67595E;
}

.header-inner {
    display: flex; 
    align-items: center; /* Vertically center items */
    margin: 0 auto; /* Center container horizontally */
    width: 370px; 
    gap: 15px; 
    padding: 10px 0 0 0; 
}

.pumpkin-img {
    width: 80px; 
}

/* Main controls container */
.controls-container {
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    width: 200px; /* Fixed width for form controls */
    margin: 0px auto; /* Center horizontally */
}